<h2>講師詳細</h2>

<table class="table">
  <tr>
    <th>生徒ID</th>
    <td><%= @teacher.id %></td>
  </tr>
  <tr>
    <th>名前</th>
    <td><%= @teacher.name %></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= @teacher.phone_number %></td>
  </tr>
  <tr>
    <th>性別</th>
    <td><%= @teacher.gender.name %></td>
  </tr>
</table>