<h2><%= @course.name %>の科目一覧</h2>

<p><%= link_to "新規作成", new_course_plan_path(@course), { class: "btn btn-primary" } %></p>

<%= render :partial => 'plan', collection: @course.plans.decorate, locals: { admin: true, course: @course } %>